
body{
    margin: 0;
    padding: 0;
    background-image: url(imagenes/polygon-scatter-haikei.png);
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
}
.header{
    background-color: #004157;
    height: 30px;
    width: 100%;
}

h1{
    text-align: center;
    font-size: 30px;
   
}

h2{
    text-align: center;
    font-size: 30px;
    margin-top: -1%;
  
}

.pfaes {
width: 100%;
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 19px;
grid-row-gap: 0px;
}


.web { grid-area: 1 / 1 / 2 / 2; }
.playa { grid-area: 1 / 2 / 2 / 3; }
.futuro { grid-area: 1 / 3 / 2 / 4; }

.imagen_playa{
    filter: opacity(0.4) drop-shadow(0 0 0 #E11F20); 
    width: 100%;
   height: 284px;
}
.imagen_web{
    filter: opacity(0.4) drop-shadow(0 0 0 #206F9D); 
    width: 100%;
    height: 284px;
}
.imagen_futuro{
    filter: opacity(0.4) drop-shadow(0 0 0 #ED8600); 
    width: 100%;
    height: 284px;
}
.p{  
    color:white;
    font-size: 35px;
    transform: translateY(-200%);
    text-align: center;
   
}
a{
    text-decoration: none;
}
   
       
        



.logos {
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
margin-top: -11%;
}

.canarias { grid-area: 1 / 1 / 2 / 2; margin-top: 11%; }
.espana { grid-area: 1 / 2 / 2 / 3; }
.juvenil { grid-area: 1 / 3 / 2 / 4; }
.tias { grid-area: 1 / 4 / 2 / 5;  margin-top: 11%; }
.europa { grid-area: 1 / 5 / 2 / 6;  margin-top: 13%; }



/* ..........................................VERSIÓN MÓVIL.................................................... */
@media screen and ( max-width: 600px){


    .pfaes {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        height: -1400px;
       
       
        }
        
        .playa { grid-area: 1 / 1; margin-top: 2%; }
        .web{ grid-area: 2 / 1 ; margin-top: -30%; }
        .futuro { grid-area: 3 / 1; margin-top: -62%; }
    


        .logos {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(5, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            margin-top: -100%;
            }
            
            .canarias { grid-area: 1 / 1 / 2 / 2; }
            .espana { grid-area: 2 / 1 / 3 / 2; }
            .juvenil { grid-area: 3 / 1 / 4 / 2; }
            .tias { grid-area: 4 / 1 / 5 / 2; }
            .europa { grid-area: 5 / 1 / 6 / 2; }
    
    
    


    .logo_canarias{
        width: 100%;
    }
    .logo_spain{
        width: 100%;
    }
    .logo_juvenil{
        width: 100%;
    }
    .logo_tias{
        width: 100%;
    }
}
  

