/* version ordenador */



@media screen and (min-width: 480px){


    
    *{
        padding: 0;
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
    }
   
 

    header{
        background-image: url(../imagenes/header.jpg);
        background-size: cover;
        text-shadow: 3px 3px 25px rgb(14, 222, 254);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 63%);
        height: 400px; 
        padding-top: 5%;
        
      
    }

    .navegacion_movil{

        display: none;
    }
    .menu{
        background-color: white;
        height: 75px;
        position: fixed;
        z-index: 2;
        width: 100%;
       
    }


    .logo_menu{

        width: 7%;
        margin-left: 3%;
        margin-top: 0.5%;
    }
    .navegacion{

       width: 100%;
        font-size: 1.5rem;
        text-align: center;
        margin-left: 7%;
        transform: translateY(-200%);
    }
   
    
    .enlace_equipo{

        padding-right: 30px;
        text-decoration: none;
        color: #2880e5;
       
      

    }
    .enlace_obras{

        padding-right: 30px;
        text-decoration: none;
        color: #2880e5;
       

    }
    .enlace_tecnologia{
        padding-right: 30px;
        text-decoration: none;
        color: #2880e5;
    }
    .enlace_lenguajes{
        padding-right: 30px;
        text-decoration: none;
        color: #2880e5;
    }
    .enlace_pfae{
        padding-right: 30px;
        text-decoration: none;
        color: #2880e5;
    }
    .enlace_actividades{
        padding-right: 30px;
        text-decoration: none;
        color: #2880e5;
    }
   

    


.titulo{

    text-align: center;
    padding-top: 2rem;
    color: white;
    font-size: 80px;
}

.imagen_grupos{

    padding-left: 50%;
    padding-top: 2rem;
    width: 40%;

}

.texto_header{
    text-align: center;
    width: 100%;
   margin-top: 2%;
   color: black;
   font-size: 1.1em;

}



.titulo_equipo{

    text-align: center;
    padding-top: 2rem;
    margin-top: 2%;

}
.fotos_menu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-left: 15%;
    margin-top: 2%;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 1 / 2 / 2 / 3; }
    .div3 { grid-area: 1 / 3 / 2 / 4; }
    .div4 { grid-area: 1 / 4 / 2 / 5; }


.equipo_fotos {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    
        .avatar1 { grid-area: 1 / 1 / 2 / 2; text-align: center;}
        .avatar2 { grid-area: 1 / 2 / 2 / 3; text-align: center;}
        .docentes { grid-area: 1 / 3 / 2 / 6; text-align: center; margin-left: 7%;}
        .avatar3 { grid-area: 1 / 6 / 2 / 7; text-align: center;}
        .avatar4{ grid-area: 1 / 7 / 2 / 8; text-align: center;}
        .avatar5 { grid-area: 2 / 1 / 3 / 2; text-align: center;}
        .avatar6 { grid-area: 3 / 1 / 4 / 2; text-align: center;}
        .avatar7 { grid-area: 4 / 1 / 5 / 2; text-align: center;}
        .avatar8 { grid-area: 4 / 2 / 5 / 3; text-align: center;}
        .avatar9 { grid-area: 4 / 3 / 5 / 4; text-align: center;}
        .avatar10 { grid-area: 4 / 4 / 5 / 5; text-align: center;}
        .avatar11 { grid-area: 4 / 5 / 5 / 6; text-align: center;}
        .avatar12 { grid-area: 4 / 6 / 5 / 7; text-align: center;}
        .avatar13 { grid-area: 4 / 7 / 5 / 8; text-align: center;}
        .avatar14 { grid-area: 3 / 7 / 4 / 8; text-align: center;}
        .avatar15 { grid-area: 2 / 7 / 3 / 8; text-align: center;}
        .grupo_web { grid-area: 2 / 2 / 4 / 7; text-align: center; margin-left: 5%;}

  
    .docentes{
        height: 150px;
        padding-top: 2%;
    }
    .grupo_web{
        padding-left: 5%;
    }
    .proyectos{

        text-align: center;
        margin-top: -10%;
        margin-bottom: 2%;
        padding-top: 2%;
        

    }
    .obras{
        margin-top: 3%;
        background-color: #1A1D29;
        color: white;
   
    }

    .proyecto_grupo {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        margin-left: 5%;

        }
        
        .card_gimkana{ 
            grid-area: 1 / 1 / 5 / 3; 
            padding-left: 10%; 
        }



        .texto_gimkana{ grid-area: 1 / 3 / 5 / 5; }

        .card_gimkana{
            --background: linear-gradient(to left, #BFd7EA 0%, #2ef9a0 100%);
            width: 80%;
            height: auto;
            padding: 5px;
            border-radius: 1rem;
            overflow: visible;
            background: #f7ba2b;
            background: var(--background);
            position: relative;
            z-index: 1;
           }
           
           .card_gimkana::after {
            position: absolute;
            content: "";
            top: 30px;
            left: 0;
            right: 0;
            z-index: -1;
            height: 100%;
            width: 100%;
            transform: scale(0.8);
            filter: blur(25px);
            background: #f7ba2b;
            background: var(--background);
            transition: opacity .5s;
           }
           
           .card-info_gimkana {
            --color: transparent;
            background: var(--color);
            color: var(--color);
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            overflow: visible;
            border-radius: .7rem;
           }
           
           .card_gimkana .title_gimkana {
             color: transparent;
            font-weight: bold;
            letter-spacing: .1em;
            margin-top: -90%;
            padding-top: 5%;
           
           }
           
           /*Hover*/
           .card_gimkana:hover::after {
            opacity: 0;
           }
           
           .card_gimkana:hover .card-info_gimkana .title_gimkana {
            color:black;
            transition: color 1s;
            background-color: #2ef9a1b4;
           height: 50px;
           width: 100%;
           text-align: center;
           
           }

       
.cartas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 0px;
    margin-top: -20%;
    padding-bottom: 10%;
    width: 95%;
    margin-left: 2%;
    
    }
    
    .card1 { grid-area: 1 / 1 / 2 / 2; }
    .card2 { grid-area: 1 / 2 / 2 / 3; }
    .card3 { grid-area: 1 / 3 / 2 / 4; }
    .card4 { grid-area: 1 / 4 / 2 / 5; }
    
        .card1 {
     --background: linear-gradient(to left, #BFd7EA 0%, #2ef9a0 50%);
     width: 95%;
     height: 165px;
     padding: 5px;
     border-radius: 1rem;
     overflow: visible;
     background:#2ef9a0;
     background: var(--background);
     position: relative;
     z-index: 1;
    }
    
    .card1::after {
     position: absolute;
     content: "";
     top: 30px;
     left: 0;
     right: 0;
     z-index: -1;
     height: 100%;
     width: 100%;
     transform: scale(0.8);
     filter: blur(25px);
     background: transparent;
     background: var(--background);
     transition: opacity .5s;
    }
    
    .card-info1 {
     
     background: var(--color);
     color: var(--color);
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100%;
     height: 0px;
     overflow: visible;
     border-radius: .7rem;
    }
    
    .card1 .title1 {
      color: transparent;
     font-weight: bold;
     letter-spacing: .1em;
     margin-top: -50%;
     padding-top: 10%;
    }
    
    /*Hover*/
    .card1:hover::after {
     opacity: 0;
    }
    
    .card1:hover .card-info1 .title1 {
      color:black ;
     transition: color 1s;
     background-color: #2ef9a1b1;
     height: 50px;
     width: 100%;
     text-align: center;
    }
    .title1{
      margin-top: -30%;
      height: 10%;
    }
    
    .talante{
    border-radius: 10px;
    
    }
    
    /* segunda carta */
    .card2 {
     --background: linear-gradient(to left, #BFd7EA 0%, #2ef9a0 100%);
     width: 95%;
     height: 165px;
     padding: 5px;
     border-radius: 1rem;
     overflow: visible;
     background: #f7ba2b;
     background: var(--background);
     position: relative;
     z-index: 1;
    }
    
    .card2::after {
     position: absolute;
     content: "";
     top: 30px;
     left: 0;
     right: 0;
     z-index: -1;
     height: 100%;
     width: 100%;
     transform: scale(0.8);
     filter: blur(25px);
     background: #f7ba2b;
     background: var(--background);
     transition: opacity .5s;
    }
    
    .card-info2 {
     
     background: var(--color);
     color: var(--color);
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100%;
     height: 0px;
     overflow: visible;
     border-radius: .7rem;
     
     
    }
    
    .card2 .title2 {
      color: transparent;
     font-weight: bold;
     letter-spacing: .1em;
     margin-top: -50%;
     padding-top: 10%;
     
    }
    
    /*Hover*/
    .card2:hover::after {
     opacity: 0;
    }
    
    .card2:hover .card-info2 .title2{
      color:black ;
     transition: color 1s;
     background-color: #2ef9a1b1;
     height: 50px;
     width: 100%;
     text-align: center;
    }
    .title2{
    
      margin-top: -200%;
      height: 10%;
    }
    
    .maramar{
    border-radius: 10px;
    
    }
    
    /* 3carta */
    .card3 {
      --background: linear-gradient(to left, #BFd7EA 0%, #2ef9a0 100%);
     width: 95%;
     height: 165px;
     padding: 5px;
     border-radius: 1rem;
     overflow: visible;
     background: #f7ba2b;
     background: var(--background);
     position: relative;
     z-index: 1;
    }
    
    .card3::after {
      position: absolute;
     content: "";
     top: 30px;
     left: 0;
     right: 0;
     z-index: -1;
     height: 100%;
     width: 100%;
     transform: scale(0.8);
     filter: blur(25px);
     background: #f7ba2b;
     background: var(--background);
     transition: opacity .5s;
    }
    
    .card-info3 {
      background: var(--color);
     color: var(--color);
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100%;
     height: 30px;
     overflow: visible;
     border-radius: .7rem;
    }
    
    .card3 .title3 {
      color: transparent;
     font-weight: bold;
     letter-spacing: .1em;
     margin-top: -50%;
     padding-top: 10%;
     
    }
    
    
    /*Hover*/
    .card3:hover::after {
     opacity: 0;
    }
    
    .card3:hover .card-info3 .title3 {
     color:black ;
     transition: color 1s;
     background-color: #2ef9a1b1;
     height: 50px;
     width: 100%;
     text-align: center;
     
     
    }
    
    .title3{
    
    margin-top: -100%;
    height: 10%;
    
    }
    .policia{
    
      border-radius: 10px;
    
    }
    
    /* cuarta carta */
    .card4 {
     --background: linear-gradient(to left, #BFd7EA 0%, #2ef9a0 50%);
     width: 95%;
     height: 165px;
     padding: 5px;
     border-radius: 1rem;
     overflow: visible;
     background:#2ef9a0;
     background: var(--background);
     position: relative;
     z-index: 1;
    }
    
    .card4::after {
     position: absolute;
     content: "";
     top: 30px;
     left: 0;
     right: 0;
     z-index: -1;
     height: 100%;
     width: 100%;
     transform: scale(0.8);
     filter: blur(25px);
     background: transparent;
     background: var(--background);
     transition: opacity .5s;
    }
    
    .card-info4 {
     
     background: var(--color);
     color: var(--color);
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100%;
     height: 0px;
     overflow: visible;
     border-radius: .7rem;
    }
    
    .card4 .title4 {
      color: transparent;
     font-weight: bold;
     letter-spacing: .1em;
     margin-top: -50%;
     padding-top: 10%;
    }
    
    /*Hover*/
    .card4:hover::after {
     opacity: 0;
    }
    
    .card4:hover .card-info4 .title4 {
      color:black ;
     transition: color 1s;
     background-color: #2ef9a1b1;
     height: 50px;
     width: 100%;
     text-align: center;
    }
    .title4{
      margin-top: -30%;
      height: 10%;
    }
    
    .talante{
    border-radius: 10px;
    
    }
              .imagen_interior{
                width: 99%;
                border-radius: 5%;
                margin-left: -11%;
              }
              .imagen_gimkana {
                --background: linear-gradient(to left, #BFD7EA 0%, #2ef9a0 50%);
                background-image: url(../asociaciones/gymkana.PNG);
                width: 100%;
                height: 100%;
                margin-left: -8%;
                padding: 5px;
                border-radius: 1rem;
                overflow: visible;
                background: #f7ba2b;
                background: var(--background);
                position: relative;
                z-index: 1;
               }
               
               .imagen_gimkana::after {
                position: absolute;
                content: "";
                top: 30px;
                left: 0%;
                right: 0;
                z-index: -1;
                height: 100%;
                width: 100%;
                transform: scale(0.8);
                filter: blur(25px);
                background: #f7ba2b;
                background: var(--background);
                transition: opacity .5s;
               }
            
              
               .card-info {
                --color: transparent;
                background: var(--color);
                color: var(--color);
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                overflow: visible;
                border-radius: .7rem;
               }
               
               .imagen_gimkana .title {
                font-weight: bold;
                letter-spacing: .1em;
                font-size: 1.5rem;
                margin-left: -90%;
               }
               
               /*Hover*/
               .imagen_gimkana:hover::after {
                opacity: 0;
              
               }
               
               .imagen_gimkana:hover .card-info {
                color: black;
                transition: color 1s;
                
               }
     
        .desarrollo_frase{
            margin-left: 5%;
            font-size: 1.5rem;
        }
        .texto_conoce{
            margin-top: -15%;
            font-size: 2rem;
            text-align: left;
            margin-left: 47%;
            width: 50%;
            padding-bottom: 30%;
           
        }


         .imagen_interior{
                width: 99%;
                border-radius: 5%;
                margin-left: -11%;
              }
              .imagen_gimkana {
                --background: linear-gradient(to left, #BFD7EA 0%, #2ef9a0 50%);
                background-image: url(../asociaciones/gymkana.PNG);
                width: 100%;
                height: 100%;
                margin-left: -8%;
                padding: 5px;
                border-radius: 1rem;
                overflow: visible;
                background: #f7ba2b;
                background: var(--background);
                position: relative;
                z-index: 1;
               }
               
               .imagen_gimkana::after {
                position: absolute;
                content: "";
                top: 30px;
                left: 0%;
                right: 0;
                z-index: -1;
                height: 100%;
                width: 100%;
                transform: scale(0.8);
                filter: blur(25px);
                background: #f7ba2b;
                background: var(--background);
                transition: opacity .5s;
               }
            
              
               .card-info {
                --color: transparent;
                background: var(--color);
                color: var(--color);
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                overflow: visible;
                border-radius: .7rem;
               }
               
               .imagen_gimkana .title {
                font-weight: bold;
                letter-spacing: .1em;
                font-size: 1.5rem;
                margin-left: -90%;
                padding-top: 10%;
               }
               
               /*Hover*/
               .imagen_gimkana:hover::after {
                opacity: 0;
              
               }
               
               .imagen_gimkana:hover .card-info .title {
                color:black ;
                transition: color 1s;
                background-color: #2ef9a1b1;
                height: 100px;
                width: 100%;
                text-align: center;
                
               }

              
        

        .pfae_div{

            margin-top: 5%;
            margin-left: 3%;

        }
        .texto{
            margin-top: 35%;
        }

       
   

        .lista_lenguaje {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: 1fr;
            grid-column-gap: 20px;
            grid-row-gap: 0px;
            padding: 5%;
            margin-top: 1000%;
            
            }

            .js{
               transform:translateX(-70%);
               margin-top: -3%;
            }

            .figma{
                transform:translateX(-30%);
                margin-top: 20%;
             }

             .b{
                transform:translateX(-40%);
                margin-top: 20%;
             }





            .esferas {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: 1fr;
                grid-column-gap: 0px;
                grid-row-gap: 0px;
                margin-top: 50%;
                }
                
                .esfera1 { grid-area: 1 / 1 / 2 / 2; width: 100%; }
                .esfera2 { grid-area: 1 / 2 / 2 / 3; width: 100%; }
                .esfera3 { grid-area: 1 / 3 / 2 / 4; width: 100%; }
            
            .noformal1{
                transform: translateY(-1700%);
                font-size: 1.1em;
                margin-left: 32%;
            }

            .noformal2{
                transform: translateY(-1700%);
                font-size: 1.1em;
                margin-left: 30%;
            }
            
            .noformal3{
                transform: translateY(-1670%);
                font-size: 1.1em;
                margin-left: 30%;
            }
            .actividades{
                margin-top: 5%;
                margin-left: 3%;
            } 
            .texto_actividades{
                margin-top: 3%;
                margin-left: 7%;
                width: 80%;
            } 

            .fotos_actividades {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: 1fr;
                grid-column-gap: 0px;
                grid-row-gap: 0px;
                margin-top: 3%;
                margin-left: 3%;
               
                }
                
                .actividad1{ grid-area: 1 / 1 / 2 / 2;  }
                .actividad2{ grid-area: 1 / 2 / 2 / 3; }
                .actividad3 { grid-area: 1 / 3 / 2 / 4; }
                .actividad4 { grid-area: 1 / 4 / 2 / 5; }

                .sce{
                    height: 208px;
                }

    .logos{

       
        display: flex;
        flex-direction:  row;
        justify-content: space-around;
        padding-top: 5%;
        

    }
 


    footer{

        background-color: rgb(160, 222, 251);
        height: 250px;

    }

}


/* version  movil*/

@media screen and (max-width: 480px){

    *{
        padding: 0;
        margin: 0;
    }
    header{
        background-color: white;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        height: 400px;
        
    }

    .navegacion{

       
      display: none;

    }

    .navegacion_movil{
        display: block;
    }

    .navegacion_movil #linksmovil {

        display: none;
    }

    .navegacion_movil a{

        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 100%;
        display: block;
        text-align: right;
        margin-right: 7%;
        
    }

    .navegacion_movil a.icon{

        background-color: rgb(8, 50, 82);
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        margin-top: 5%;
    }
  
    .logo_menu{

        width: 50%;
        margin-left: 25%;
        margin-top: 3%;
    }
    .texto_conoce{
        font-size: 18px;
    }
   

    .titulo{

       margin-left: 12%;
       font-size: 25px;
       color: black;

    }


    .imagen_grupos{

       width: -10%;
       margin-left: -20%;
       display: none;

       
    
    }
    
.texto_header{

   
    width: 90%;
    color: black;
    margin-top: 10%;


}

.titulo_equipo{
    margin-top: -0%;
    margin-bottom: 3%;
}
.pfae_numeros{
    text-align: center;
}
.actividades{
    text-align: center;
}
.pfae{
    text-align: center;
}
.lenguajes{
    text-align: center;
}

.equipo_fotos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-left: 5%;
    
    }
    
    .grupo_web{ grid-area: 1 / 1 / 2 / 4;  margin-bottom: 15%; margin-left: 4%;}
    .docentes { grid-area: 2 / 1 / 3 / 4; margin-left: 8%; }
    .avatar1 { grid-area: 3 / 1 / 4 / 2; margin-top:-35% ; }
    .avatar2 { grid-area: 3 / 2 / 4 / 3; margin-top:-35%  }
    .avatar3 { grid-area: 3 / 3 / 4 / 4; margin-top:-35%  }
    .avatar4 { grid-area: 4 / 1 / 5 / 2; margin-top:-35%  }
    .avatar5{ grid-area: 4 / 2 / 5 / 3; margin-top:-35%  }
    .avatar6 { grid-area: 4 / 3 / 5 / 4; margin-top:-35%  }
    .avatar7 { grid-area: 5 / 1 / 6 / 2; margin-top:-35%  }
    .avatar8{ grid-area: 5 / 2 / 6 / 3; margin-top:-35%  }
    .avatar9 { grid-area: 5 / 3 / 6 / 4; margin-top:-35%  }
    .avatar10 { grid-area: 6 / 1 / 7 / 2; margin-top:-35%  }
    .avatar11{ grid-area: 6 / 2 / 7 / 3; margin-top:-35%  }
    .avatar12 { grid-area: 6 / 3 / 7 / 4; margin-top:-35%  }
    .avatar13{ grid-area: 7 / 1 / 8 / 2; margin-top:-35%  }
    .avatar14{ grid-area: 7 / 2 / 8 / 3; margin-top:-35%  }
    .avatar15{ grid-area: 7 / 3 / 8 / 4; margin-top:-35%  }


    .proyecto_grupo  {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        }
        
        .imagen_gimkana { grid-area: 1 / 1 / 2 / 2; margin-left: 15%;}
        .texto_gimkana{ grid-area: 2 / 1 / 3 / 2; padding: 2%; }
    
    .proyectos{

        margin-top: -40%;
        margin-bottom: 5%;

    }
    .talante{
        height: 50px;
    }
    .frase_1{

        font-size: 10px;
    }
    .maramar{
        height: 50px;
    }
    .frase_2{

        font-size: 10px;
    }
    .policia{
        height: 50px;
    }
    .frase_3{

        font-size: 10px;
    }

.gymkana_frase{
    font-size: 1.3rem;
    margin-left: 13%;
    margin-bottom: 5%;
}

.desarrollo_frase{

    text-align: center;
    font-size: 1rem;
    margin-left: -30%;
    margin-top: 5%;

}
.proyecto1{

    height: 1%;

}

/* .lista_lenguaje {
    display: grid;
    grid-template-columns: repeat(4, 3fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding: 5%;
   margin-right: 50%;
   margin-left: 3%;
   
} */

    /* .html { grid-area: 1 / 1 ; height: 50px; width: 50px; }
    .css { grid-area: 1 / 2 ; height: 80px; width: 80px; }
    .js { grid-area: 1 / 3; height: 80px; width: 100px; }
    .figma { grid-area: 1 / 4; height: 80px; width: 80px; }
    .b { grid-area: 2 / 1; height: 80px; width: 80px; }
    .canva { grid-area: 2 / 2; height: 80px; width: 80px; }
    .wordpress { grid-area: 2/ 3; height: 80px; width: 100px; }
    .fcc { grid-area: 2 /4; height: 80px; width: 80px; }
    .trello { grid-area: 3 / 1; height: 80px; width: 80px; }
    .scracht { grid-area: 3/ 2; height: 80px; width: 80px; } */
    
    
    .html{

        margin-left: -10%;
    }
    .css{

        width: 800%;
        margin-left: -30%;

    }

    .js{
        width: 800%;
        margin-top: 1000%;
        margin-left: -850%;
    }

    .wordpress{
        
        margin-left: 90%;
        width: 100%;
        margin-top: -50%;
    }
    .figma{
        margin-top: 1200%;
        width: 800%;
        margin-left: -180%;
    }

    .b{

        width: 600%;
        margin-top: 2000%;
        margin-left: -1100%;

    }

    .canva{

        width: 800%;
        margin-left: -900%;
        margin-top: 100%;

    }

    .fcc{

        width: 600%;
        margin-left: -250%;
        margin-top: 130%;

    }

    .trello{

        width: 600%;
        margin-left: -1160%;
        margin-top: 630%;

    }

    .scracht{

        width: 600%;
        margin-left: -560%;
        margin-top: 600%;

    }

  

    .texto_actividades{

        margin-left: 12%;
    }
    .esferas {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 80px;
        margin-top: 80px;
        }
        
        .esfera1 { grid-area: 1 / 1 / 2 / 2; }
        .esfera2{ grid-area: 2 / 1 / 3 / 2; }
        .esfera3 { grid-area: 3 / 1 / 4 / 2; }
        
    .noformal1{
        transform: translateY(-4300%);
    }

    .noformal2{
        transform: translateY(-5700%);
    }

    .noformal3{
        transform: translateY(-3000%);
    }

    .texto_actividades{

        transform: translateY(-150%);
    }
    .actividades{

        transform: translateY(-1000%);

    }

    .fotos_actividades {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        margin-top: -40%;
        margin-left: 8%;
        }
        
        .actividad1 { grid-area: 1 / 1 / 2 / 2; }
        .actividad2 { grid-area: 1 / 2 / 2 / 3; }
        .actividad3 { grid-area: 2 / 1 / 3 / 2;  }
        .actividad4 { grid-area: 2 / 2 / 3 / 3;}

        .sce{
            height: 150px;
        }




footer{

    
    height: 100px;
    width: 100%;

}


}



